<!DOCTYPE html>
{% load static %}
<html lang="en" class="h-100">
<head>
	<link rel="icon" href="{% static 'pic/job-logo.png' %}">
	<title>Search Unemployed</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/main_style.css' %}">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		body{
			background-size: cover;
			background-image: url("{% static 'pic/bg-orange.png' %}");
			background-attachment: fixed;
			background-repeat: no-repeat;
			/* height: 100%; */
			/* overflow: hidden; */
		}
		.btn{
			border-radius: 0px;
		}
		.form-control{
			border-radius: 0px;
		}
		.card{
			background-color: rgba(255, 255, 255, 0.8);
			/* border: 1px solid #17a2b8; */
		}
		.btn-dark{
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;
		}

		.main{
			-webkit-animation: fadein 1.5s;
		}
		@keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
        }
        
        .btn-orange{
            background-color: orange;
            border-color: rgb(252, 175, 31);
        }

        .btn-orange:hover{
            background-color: rgb(255, 136, 0);
            border-color: orange;
        }

        .hide{
            display:none;
        }
	</style>

</head>

<body class="h-100">
	<div id="app" class="h-100">
		<div id="content" class="d-flex flex-column h-100">

			<!-- Navbar -->
			<nav class="navbar navbar-expand-xl bg-dark navbar-dark bg-company-black">
				<!-- Brand -->
				<a class="navbar-brand ml-5" href="{% url 'search_job' %}"><img src="{% static 'pic/job-logo.png' %}" width="50"> JobProvider</a>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar links -->
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<!-- Left side link -->
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown mr-1">
							<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								Search
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{% url 'search_job' %}">Jobs</a>
								<a class="dropdown-item" href="{% url 'search_unemp' %}">Unemployed</a>
							</div>
						</li>

                        {% if perms.jobprovider.change_job %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'manage_job' %}">ManageJobs</a>
						</li>
                        {% endif %}

                        {% if perms.jobprovider.change_student %}
                            {% if not user.student.is_unemp %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'change' %}">AddToUnemployed</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'change' %}">CancelUnemployed</a>
                            </li>
                            {% endif %}
                        {% endif %}
					</ul>

					<!-- Right side link -->
					<ul class="navbar-nav mr-5">
                        {% if not user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
								Sign up
							</a>

							<div class="dropdown-menu">
								<a class="dropdown-item" href="{% url 'register_student' %}">Student</a>
								<a class="dropdown-item" href="{% url 'register_employer' %}">Employer</a>
							</div>
						</li>
                        {% endif %}

                        {% if not user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'mylogin' %}">Sign in</a>
						</li>
                        {% endif %}

                        {% if user.is_authenticated %}
						<li class="nav-item dropdown mr-2">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
								Setting
							</a>
							<div class="dropdown-menu">
                                {% if perms.jobprovider.change_student %}
								<a class="dropdown-item" href="{% url 'edit_student' %}">(S)Edit Profile</a>
                                {% elif perms.jobprovider.change_employer %}
								<a class="dropdown-item" href="{% url 'edit_employer' %}">(E)Edit Profile</a>
                                {% endif %}
								<a class="dropdown-item" href="{% url 'mylogout' %}">Sign out</a>
							</div>
						</li>
                        {% endif %}
					</ul>
				</div>
			</nav>

			<!-- Main content -->
			<div class="container flex-grow-1">

				<!-- search box -->
				<div class="container">
					<div class="container my-5">
						<div class="card-body mx-auto">
							<h4 class="card-title text-center mb-5"><span class="font-weight-bold" style="color: orange;">Students</span> are waiting for you</h4>
							<form action="{% url 'search_unemp' %}" method="POST">
                                {% csrf_token %}
								<div class="row justify-content-center no-gutters">
									<div class="col-md-3 mt-1">
										<select class="form-control" name="faculty">
											<option value="" selected disabled>Faculty</option>
											<option v-for="faculty in facultys">[[ faculty.faculty ]]</option>
										</select>
									</div>
									<div class="col-md-3 mt-1">
										<input type="number" class="form-control" name="age" placeholder="Age">
									</div>
									<div class="col-md-2 mt-1">
										<select class="form-control" name="gender">
											<option value="" selected disabled>Gender</option>
											<option>Male</option>
											<option>Female</option>
										</select>
                                    </div>
                                    <div class="col-md-3 mt-1">
										<input type="text" class="form-control" name="skill" placeholder="Skill">
									</div>
									<div class="col-md-1 mt-1">
										<button type="submit" class="btn btn-info btn-orange"><span class="fa fa-search"></span> Search</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- show unemployed students -->
				<div class="container main">
					<div class="row justify-content-center">
                        {% for unemp in unemps %}
						<div class="col-xl-6">
							<div class="card shadow-sm my-2 d-flex flex-row">

								<!-- flex item for student detail -->
								<div class="card-body mr-auto">
	
									<h5 class="card-title">
										<div>{{ unemp.user.first_name }} {{ unemp.user.last_name }}</div>
									</h5>
	
									<p class="card-text">
										<small class="text-muted"><span class="fa fa-clock-o"></span> Age: {{ unemp.age }},</small>
										<small class="text-muted"><span class="fa fa-male"></span> Gender:
                                            {% if unemp.gender == '01'%}
                                                Male
                                            {% elif unemp.gender == '02' %}
                                                Female
                                            {% endif %}
                                        </small><br/>
                                        <small class="text-muted"><span class="fa fa-university"></span> Faculty:
                                            {% if unemp.faculty == '01' %}
                                                วิศวกรรมศาสตร์
                                            {% elif unemp.faculty == '02' %}
                                                สถาปัตยกรรมศาสตร์
                                            {% elif unemp.faculty == '03' %}
                                                ครุศาสตร์อุตสาหกรรมและเทคโนโลยี
                                            {% elif unemp.faculty == '04' %}
                                                เทคโนโลยีการเกษตร
                                            {% elif unemp.faculty == '05' %}
                                                วิทยาศาสตร์
                                            {% elif unemp.faculty == '06' %}
                                                อุตสาหกรรมเกษตร
                                            {% elif unemp.faculty == '07' %}
                                                เทคโนโลยีสารสนเทศ
                                            {% elif unemp.faculty == '08' %}
                                                วิทยาลัยนานาชาติ
                                            {% elif unemp.faculty == '09' %}
                                                วิทยาลัยนาโนเทคโนโลยี
                                            {% elif unemp.faculty == '10' %}
                                                วิทยาลัยนวัตกรรมการผลิตขั้นสูง
                                            {% elif unemp.faculty == '11' %}
                                                การบริหารและจัดการ
                                            {% elif unemp.faculty == '12' %}
                                                วิทยาลัยอุตสาหกรรมการบินนานาชาติ
                                            {% elif unemp.faculty == '13' %}
                                                ศิลปศาสตร์
                                            {% elif unemp.faculty == '14' %}
                                                แพทยศาสตร์
                                            {% elif unemp.faculty == '15' %}
                                                วิทยาลัยวิศวกรรมสังคีต
                                            {% endif %}
                                        </small><br/>
									</p>
								</div>

								<!-- flex item for offer button (link to student detail) -->
								<div class="card-text my-auto">
									<a href="{% url 'unemp_detail' unemp_id=unemp.id %}" class="btn btn-dark my-auto">Offer <span class="fa fa-chevron-right"></span></a>
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>

			<!-- Footer -->
			<div class="footer" style="background-color: white">
				<div class="container text-center text-lg-right">
					<a class="logo ml-1" href="https://www.it.kmitl.ac.th/th/" target="_blank"><img src="{% static 'pic/it.png' %}" height="30"></a>
				</div>
			</div>

		</div>
	</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
	<script>
		var vm = new Vue({
			el: "#app",
			delimiters: ["[[", "]]"],
			data:{
                v_hide: "hide",
                v_hides: [],
				facultys: [
					{'faculty':'วิศวกรรมศาสตร์'},
					{'faculty':'สถาปัตยกรรมศาสตร์'},
					{'faculty':'ครุศาสตร์อุตสาหกรรมและเทคโนโลยี'},
					{'faculty':'เทคโนโลยีการเกษตร'},
					{'faculty':'วิทยาศาสตร์'},
					{'faculty':'อุตสาหกรรมเกษตร'},
					{'faculty':'เทคโนโลยีสารสนเทศ'},
					{'faculty':'วิทยาลัยนานาชาติ'},
					{'faculty':'วิทยาลัยนาโนเทคโนโลยี'},
					{'faculty':'วิทยาลัยนวัตกรรมการผลิตขั้นสูง'},
					{'faculty':'การบริหารและจัดการ'},
					{'faculty':'วิทยาลัยอุตสาหกรรมการบินนานาชาติ'},
					{'faculty':'ศิลปศาสตร์'},
					{'faculty':'แพทยศาสตร์'},
					{'faculty':'วิทยาลัยวิศวกรรมสังคีต'},
				],
				students: [
            {
                id: 1,
                firstname: "Pitchayut",
			    lastname: "lastname",
			    age: 20,
                email: "FBTasddd@asd.com",
                gender: "Male",
                phone: "0831171875",
				faculty: "เทคโนโลยีสารสนเทศ",
				skills: [
                    "Python",
                    "Java",
                    "Web Design"
                ]
            },
            {
                id: 3,
                firstname: "Spy",
			    lastname: "asdza",
			    age: 20,
                email: "FBTasddd@asd.com",
                gender: "Male",
                phone: "0831171875",
				faculty: "เทคโนโลยีสารสนเทศ",
				skills: [
                ]
            },
            {
                id: 3,
                firstname: "Pokemon",
			    lastname: "lastname",
			    age: 20,
                email: "FBTasddd@asd.com",
                gender: "Male",
                phone: "0831171875",
				faculty: "เทคโนโลยีสารสนเทศ",
				skills: [
                    "Python",
                    "Web Design"
                ]
            },
            {
                id: 4,
                firstname: "Ragnarok",
			    lastname: "Mobile",
			    age: 20,
                email: "FBTasddd@asd.com",
                gender: "Male",
                phone: "0831171875",
				faculty: "เทคโนโลยีสารสนเทศ",
				skills: [
                    "Python",
                    "Java",
                    "Web Design"
                ]
            },
        ]
			},
		})
	</script>
</body>
</html>